   #grid {
  display: grid;
  /* grid-template-rows: '124px 124px 124px 124px 124px';
  grid-template-columns: 242.5px 242.5px 242.5px 242.5px; */
  /* grid-gap: 10px;  */
	   grid-template-rows: repeat(5, 124px); /* Use fractional units (fr) */
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 10px; 
  grid-template-areas:
    "box1 box1 box1"
    "box2 box3 box4"
    "box2 box5 box6"
    "box2 box7 box8 box9"
    "box2 box10 box10";
}

/* Define styles for each box */
.box1 {
  grid-area: box1;
  background-color: green;
  grid-column: span 4 / auto; /* Span 4 columns */
}

.box2 {
  grid-area: box2;
  background-color: green;
  grid-row: span 4 / auto; /* Span 4 rows */
}

.box3 {
  grid-area: box3;
  background-color: green;
}

.box4 {
  grid-area: box4;
  background-color: green;
  grid-column: span 2 / auto; /* Span 2 columns */
}

.box5 {
  grid-area: box5;
  background-color: green;
  grid-column: span 2 / auto; /* Span 2 columns */
}

.box6 {
  grid-area: box6;
  background-color: green;
}

.box7 {
  grid-area: box7;
  background-color: green;
}

.box8 {
  grid-area: box8;
  background-color: green;
}

.box9 {
  grid-area: box9;
  background-color: green;
}

.box10 {
  grid-area: box10;
  background-color: green;
  grid-column: span 3 / auto; /* Span 3 columns */
}

  
